@media(max-width: 991px)
{
    #navbar .nav-item a::after
    {
        display: none;
    }
    
    #navbar .nav-item .active::after
    {
        display: none;
    }
    
    #navbar .navbar-nav
    {
        margin-top: 15px;
    }
    
    .about_main_top .about_headings::after, .about_main_bottom .about_headings::after, .about_main_left .about_headings::after, .about_main_right .about_headings::after
    {
        display: none;
    }
    
    .about_headings
    {
        margin: 15px 0;
    }
    
    .services_slide_left h3
    {
        position: relative;
        text-align: center;
        background: #fff;
        top: unset;
        transform: none;
        display: block;
        padding-bottom: 15px;
    }
    
    .services_slide_captions::before
    {
        display: block;
    }
    
    .services_slide_captions::after
    {
        display: none;
    }
    
    .team_left_slide_contents
    {
        height: 80px;
        width: 80px;
    }
    
    #team .slick-center .team_left_slide_contents
    {
        height: 110px;
        width: 110px;
    }
    
}

@media(max-width: 767px)
{
    .team_right_slide_wrapper_inner::after
    {
        display: none;
    }
}

@media(max-width: 480px)
{
    .banner_slide_contents h2
    {
        font-size: 30px;
    }
    
    .banner_slide_contents h1
    {
        font-size: 48px;
    }
    
    .banner_slide_buttons a
    {
        width: 110px;
        font-size: 14px;
    }
}



@media(max-width: 575px)
{
    #portfolio
    {
        -webkit-clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
        clip-path: polygon(0 2%, 100% 0, 100% 98%, 0% 100%);
    }
}
